.Filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    font-size: 14px;
    font-weight: 700;
}

.Filters-item {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    
    .Filters {
        flex-direction: column;
        gap: 10px;
    }

    .Filters-item input {
        width: 110px;
    }

    .Filters-item span {
        width: 41px;
    }
}
